.question-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .question-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .question-container li {
    margin-bottom: 10px;
  }
  
  .score-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2em auto;
  }
  
  .score-container h3 {
    font-size: 20px;
    font-weight: bold;
  }
  