

.form2{
    padding: 4rem 3rem;
    box-shadow: 0px 2px 3px;
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left:35%;
    margin-top:10%;
  }
  .log{
    margin-top:0px;
    margin-left: 40%;
  }

  
  .use{
    font-size: medium;
    margin-bottom: -15px;
  }
  #input-1{
    width: 100%;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;


  }
  .log-btn{
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    width:50%;
    margin-left:100px;
    
    
  }

